/* EDITOR */

.editor {
    background-color: #e3e3e3;
}

.editor-container {
    margin: 0 auto;
    /* padding: 10px; */
    grid-template-columns: 1fr;
    /* gap: 20px; */
}

.close-editor {
    width: 20px;
    justify-self: end;
    color: #ff7f00;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #e3e3e3;
    border: none;
    margin-inline-end: 10px;
}

.close-editor::after {
    content: "\2715";
}

.canvas-container {
    max-width: 450px;
    margin: 0 auto 20px;
}

canvas {
    border: 1px solid black;
}

@media (min-width: 650px) {
    .editor-container {
        grid-template-columns: 50% 50%;
    }
    .canvas-container {
        margin: 0;
    }
    .close-editor {
        grid-column: 1/3;
    }
    .controls {
        margin-inline-start: 10px;
    }
}


/* CONTROLS */

.controls {
    margin: 0 20px;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(5, 50px);
    gap: 7px;
    grid-template-areas: "txt txt txt txt txt" "move-up move-down select-next add remove" "larger smaller left center right" "font font font border-color font-color" "stickers stickers stickers stickers stickers" "share share save save remove-meme";
}

.controls textarea {
    grid-area: txt;
    width: 100%;
    border: none;
    border-radius: 1em;
    resize: none;
    padding: 10px;
}

.controls textarea:focus {
    outline: 0;
}

.controls button {
    width: 100%;
    background: white no-repeat center/50%;
}

.controls button:active {
    background-color: darkgray;
}

.controls button:hover:not(.orange-btn) {
    border: 2px solid #e3e3e3;
}

.controls .move-up {
    grid-area: move-up;
    background-image: url(../icons/up-arrow.png);
}

.controls .move-down {
    grid-area: move-down;
    background-image: url(../icons/down-arrow.png);
}

.controls .select-next {
    grid-area: select-next;
    background-image: url(../icons/up-and-down-opposite-double-arrows-side-by-side.png);
}

.controls .add-line {
    grid-area: add;
    background-image: url(../icons/add.png);
}

.controls .remove-line {
    grid-area: remove;
    background-image: url(../icons/trash.png);
}

.controls .enlarge-font {
    grid-area: larger;
    background-image: url(../icons/increase\ font\ -\ icon.png);
}

.controls .reduce-font {
    grid-area: smaller;
    background-image: url(../icons/decrease\ font\ -\ icon.png);
}

.controls .font-left {
    grid-area: left;
    background-image: url(../icons/align-to-left.png);
}

.controls .font-center {
    grid-area: center;
    background-image: url(../icons/center-text-alignment.png);
}

.controls .font-right {
    grid-area: right;
    background-image: url(../icons/align-to-right.png);
}

.controls .font-color-btn {
    grid-area: font-color;
    background-image: url(../icons/paint-board-and-brush.png);
}

.controls .border-color-btn {
    grid-area: border-color;
    background-image: url(../icons/text\ stroke.png);
}

.controls .choose-font {
    grid-area: font;
    width: 100%;
}

.Impact {
    font-family: Impact;
}

.Asakim {
    font-family: Asakim;
}

.controls .choose-color {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.controls .choose-color:hover {
    cursor: pointer;
}

.controls .share-meme {
    grid-area: share;
}

.controls .save-meme {
    grid-area: save;
}

.controls .remove-meme {
    grid-area: remove-meme;
    background-image: url(../icons/white-trash.png);
}

.controls .remove-meme:hover {
    background-image: url(../icons/trash.png);
}

.controls .orange-btn {
    width: 100%;
    font-size: 1.4em;
    background-color: #ff7f00;
    color: white;
    border-radius: 0.6em;
}

.controls .orange-btn:hover {
    color: black;
}

.share-modal {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    padding: 20px;
    animation-name: show-modal;
    animation-duration: 1s;
}

@keyframes show-modal {
    from {
        top: -50%;
    }
    to {
        top: 50%
    }
}

.share-modal>* {
    font-size: 1.1em;
    display: block;
    border-radius: 0.8em;
}

.share-modal .orange-btn {
    color: white;
    background-color: #ff7f00;
    width: 50%;
    min-width: 7em;
    padding: 1em;
    margin: 20px auto;
    text-align: center;
}

.share-modal>*:hover {
    color: black;
}

.share-modal .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
}

.close-modal::after {
    content: "\2715";
}

@media (min-width: 550px) {
    .share-modal {
        width: 50%;
    }
    .share-modal>* {
        font-size: 1.4em;
    }
}